* {
  min-height: 0;
  min-width: 10px;
  font-family: Lexend, "JetBrainsMono Nerd Font";
  font-size: 14px;
  font-weight: 600;
}

 #waybar {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
  
}

* {
  border-radius: 10px; /* Adjust the radius as desired */
  /* Other styles */
}


window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  /* background-color: #1e1e2e; */
  /* background-color: #181825; */
  background-color: #2d2d4d;
  /* background-color: rgba(24, 24, 37, 0.6); */
}



#workspaces button {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  /* background-color: #181825; */
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#workspaces button:hover {
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button.active {
  background-color: #1e1e2e;
  color: #b485ee;
}

#workspaces button.urgent {
  background-color: #1e1e2e;
  color: #b485ee;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#cpu,
#tray,
#memory,
#window,
#mpris {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  /* background-color: #181825; */
  background-color: #1e1e2e;
}

#mpris.playing {
  color: #b485ee;
}

#mpris.paused {
  color: #b485ee;
}

#custom-sep {
  padding: 0px;
  color: #b485ee;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  color: #b485ee;
}

#memory {
  color: #b485ee;
}

#clock {
  color: #b485ee;
}

#clock.simpleclock {
  color: #b485ee;
}

#window {
  color: #b485ee;
}

#pulseaudio {
  color: #b485ee;
}

#pulseaudio.muted {
  color: #b485ee;
}

#custom-logo {
  color: #b485ee;
}

#custom-power {
  color: #b485ee;
  padding-right: 12px;
}

tooltip {
  background-color: #181825;
  border: 2px solid #2657a5;
}
